:root{
    --main-color: hsl(210, 19%, 15%);
    --background: hsl(216, 12%, 8%);
    --paragraph: hsl(217, 12%, 63%);
    --medium-grey: hsl(212, 15%, 20%);
    --button-color: hsl(25, 97%, 53%);
}
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: var(--background);
    width: 100%;
}

section {
    height: 90vh;
    position: relative;
}

.container {
    border-radius: 30px 30px 30px 30px;
    max-width: 450px;
    width: 100%;
    height: 70vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    box-sizing: border-box;
    /* grid-template-columns: repeat(3, 1fr);
    gap: 10px; */

    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}

#header {
    position: absolute;
    top: 130px;
    left: 30px;
    font-size: large;
    color: #fff;
    letter-spacing: 0.1em;
}

.star {
    position: relative;
    bottom: 45px;
    left: 20px;
    background-color: var(--medium-grey);
    border-radius: 50%;
    padding: 1em;
}

.p-1 {
    position: absolute;
    padding: 10px;
    left: 20px;
    font-size: large;
    color: var(--paragraph);
    line-height: 1.5em;
}

.list {
    list-style: none;
    cursor: pointer;
    letter-spacing: 4.5em;
    position: relative;
    padding: 40px;
    max-width: 450px;
    width: 90%;
    display: flex;
    color: var(--paragraph);
    gap: 20px;
} 

.list li {
    background-color: var(--medium-grey);
    padding-top: 17px;
    padding-left: 22px;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    font-weight: bold;
}

.list li:hover {
    color: #fff;
    background-color: var(--button-color);
}

.list li:active{
    background-color: var(--button-color);
}

.active {
    color: #fff;
    background-color: var(--paragraph);
}

.list li.selected {
    color: #fff;
    background-color: var(--paragraph);
}

#btn {
    position: absolute;
    cursor: pointer;
    margin-top: 350px;
    margin-left: 35px;
    margin-bottom: 20px;
    max-width: 380px;
    width: 100%;
    height: 45px;
    border-radius: 50px;
    color: white;
    background-color: var(--button-color);
    font-size: medium;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: none;
}

#btn:hover {
    color: var(--button-color);
    background-color: #fff;
}

.thankYou {
    position: absolute;
    top: 20px;
    bottom: 300px;
    margin-top: 25px;
    left: 140px;    
    display: none;
}

.thanks-Img {
    position: relative;
    top: 22px;
}

.rating-box {
    position: relative;
    top: 50px;
    right: 30px;
}

.rating {
    color: var(--button-color);
    background-color: var(--medium-grey);
    border-radius: 1.5em;
    letter-spacing: 0.1em;
    padding: 8px;
    display: inline-block;
}

#rating {
    color: var(--button-color);
}

.thnks {
    position: relative;
    color: #fff;
    letter-spacing: 0.1em;
    top: 80px;
    left: 12px;
}

.p-2 {
    position: relative;
    color: var(--paragraph);
    font-size: large;
    text-align: center;
    width: 350px;
    top: 100px;
    right: 90px;
    line-height: 1.5em;
}

